<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"> <!--useGeneratedKey会让sql语句返回插入行数据的主键值,id为Dish类中接受主键值的变量--> <!--id中包含的是mapper中的方法-->
            insert into dish(name, category_id, price, image, description, create_time, update_time, create_user, update_user, status)
            values (#{name},#{categoryId},#{price},#{image},#{description},#{createTime},#{updateTime},#{createUser},#{updateUser},#{status})
    </insert>
</mapper>