<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.EmployeeMapper">
    <select id="pageQuery" resultType="com.sky.entity.Employee">
        select * from employee
        <where>
            <if test = "name != null and name !=''">
                <!-- 下面是模糊查询，%name%表示name前后可以加任意字符 -->
                and name like concat('%',#{name},'%')
                 <!--用Page对象就不用 limit 0 10了-->
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>
